@media screen and (max-width:690px)  {
  .header{
    padding:{
      left:5px;
      right:5px;
    };
  }
  .notes__block{
    padding:{
      left:10px;
      right:10px;
    };
    width:auto;
    margin:0;
    position:relative;
  }
}
@media screen and (max-width:595px)  {
 .header-menu-li{
   padding:{
     left:2px;
     right:2px;
   };
 }

}

