*, *:before, *:after {
  box-sizing: border-box;
  list-style: none;
}

@font-face {
  font-family: SegoeWPN;
  src: url(../fonts/SegoeWPN.ttf);
}

.header-menu-li, .header-logo, .header-logo-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header {
  width: 1024px;
  height: 90px;
  display: flex;
  margin: 0 auto;
  padding: 0 auto;
  justify-content: space-between;
}

.header__block {
  display: flex;
  flex-direction: row;
  height: 90px;
}

.header__block ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  font-size: 1.2em;
}

.header-menu-li {
  padding-left: 15px;
  padding-right: 15px;
  font-family: SegoeWPN, sans-serif;
}

.header-menu-li a {
  text-decoration: none;
  color: grey;
}

.header-menu-li a:visited {
  color: grey;
}

.header-menu-li a:active {
  color: grey;
}

.header-logo {
  margin: auto 0;
  width: 45px;
  height: 45px;
  margin-right: 15px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: cornflowerblue;
}

.header-logo .logo-text {
  display: flex;
  justify-content: center;
  font-size: 2.1em;
  color: white;
  padding-top: 10px;
}

.header-logo-text {
  font-family: SegoeWPN, sans-serif;
  font-size: 1.9em;
}

.main-slider {
  height: 490px;
  width: 100%;
  background-image: url("../img/baner/baner.png");
  background-size: cover;
}
