@media screen and (max-width: 690px) {
  .header {
    padding-left: 5px;
    padding-right: 5px;
  }
  .notes__block {
    padding-left: 10px;
    padding-right: 10px;
    width: auto;
    margin: 0;
  }
}

@media screen and (max-width: 595px) {
  .sign_button {
    height: auto;
    width: 100%;
  }
  .header-menu-li {
    display: none;
  }
  .header-menu-li:last-child {
    display: flex;
  }
  .header-menu-li:last-child button {
    border: 0;
    background-color: powderblue;
  }
  .main-slider-text span {
    font-size: 1em;
  }
  .notes {
    flex-direction: column;
  }
  .notes__block {
    padding-bottom: 10px;
    flex-direction: row;
  }
  .notes__block-first {
    height: auto;
    width: 100%;
  }
  .notes__block-second {
    height: auto;
    width: 100%;
  }
  .notes__block-third {
    height: auto;
    width: 100%;
  }
}
