*,*:before,*:after{
  box-sizing: border-box;
  list-style: none;
}

.slider{
  
  &__block:nth-child(1){
   display:flex;
   justify-content: center;
  }
  display: flex;
  justify-content: space-between;
  font-family: 'Raleway', sans-serif;
  font-size:0.8em;
  height:800px;
  background: #555556 url(../img/slider/background.jpg) no-repeat center bottom / cover;
  background-blend-mode:multiply;
  &-header{
    align-items: center;
    height:100px;
  
    // margin:{
    //   left:15vw;
    //   right:15vw;
    // };
    display:flex;
    
    &_logo{
      img{
        height:40px;
        width:40px;
      }
    }
    &_textlog{
      align-self: center;
      font-size:2vw;
      color:white;
    }
    &_menu{
      display:flex;
      display:-webkit-flex;
      color:white;
      margin:{
        top:15px;
      };
      padding:0;
      li{   
        padding:{
          left:0.5vw;
          right:0.5vw;
        };
        display:flex;
        //justify-content: space-between;
        font-size: 0.9vw;
        img{
          width:1.2vw;
          height:1.2vw;
        }
      }
      li:hover{
        color:#6f9295;
      }
      
    }
    &-itemslog{
      display:flex;
      display:-webkit-flex;
    }
  }

  
  
  &-info{
    display:flex;
    flex-direction: column;

    h3,h4{
      font-size: 1.8vw;
      display:flex;
      justify-content: center;
      color:whitesmoke;
    }
    h4{
      font-family: 'Raleway Bold',sans-serif;
      font-size:3.2vw;
    }
    span{
      display:flex;
      justify-content: center;
      color:whitesmoke;
      font-size: 1.0vw;
    }
    padding:{
      top:230px;
    };
  }

  &_button-start{
    display:flex;
    justify-content: center;
    padding:{
      top:30px;
    };
    input{
      border-radius: 5%;
      border:0;
      background:#998675;
      color:white;
      width:120px;
      height:35px;
    }
  }
}
.sliderPress{
  display:flex;
  align-self: center;
  img{
  height:45px;
  
  }
}
.left-slider{
  margin:0 auto;
}
.right-slider{
  margin:0 auto;
}
