*, *:before, *:after {
  box-sizing: border-box;
  list-style: none;
}

.slider {
  display: flex;
  justify-content: space-between;
  font-family: 'Raleway', sans-serif;
  font-size: 0.8em;
  height: 800px;
  background: #555556 url(../img/slider/background.jpg) no-repeat center bottom/cover;
  background-blend-mode: multiply;
}

.slider__block:nth-child(1) {
  display: flex;
  justify-content: center;
}

.slider-header {
  align-items: center;
  height: 100px;
  display: flex;
}

.slider-header_logo img {
  height: 40px;
  width: 40px;
}

.slider-header_textlog {
  align-self: center;
  font-size: 2vw;
  color: white;
}

.slider-header_menu {
  display: flex;
  display: -webkit-flex;
  color: white;
  margin-top: 15px;
  padding: 0;
}

.slider-header_menu li {
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  display: flex;
  font-size: 0.9vw;
}

.slider-header_menu li img {
  width: 1.2vw;
  height: 1.2vw;
}

.slider-header_menu li:hover {
  color: #6f9295;
}

.slider-header-itemslog {
  display: flex;
  display: -webkit-flex;
}

.slider-info {
  display: flex;
  flex-direction: column;
  padding-top: 230px;
}

.slider-info h3, .slider-info h4 {
  font-size: 1.8vw;
  display: flex;
  justify-content: center;
  color: whitesmoke;
}

.slider-info h4 {
  font-family: 'Raleway Bold',sans-serif;
  font-size: 3.2vw;
}

.slider-info span {
  display: flex;
  justify-content: center;
  color: whitesmoke;
  font-size: 1.0vw;
}

.slider_button-start {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.slider_button-start input {
  border-radius: 5%;
  border: 0;
  background: #998675;
  color: white;
  width: 120px;
  height: 35px;
}

.sliderPress {
  display: flex;
  align-self: center;
}

.sliderPress img {
  height: 45px;
}

.left-slider {
  margin: 0 auto;
}

.right-slider {
  margin: 0 auto;
}
