*, *:before, *:after {
  box-sizing: border-box;
  list-style: none;
}

.slider {
  font-family: 'Raleway', sans-serif;
  font-size: 0.8em;
  height: 1026px;
  background: #555556 url(../img/slider/background.jpg) no-repeat center bottom/cover;
  background-blend-mode: multiply;
}

.slider-header {
  align-items: center;
  height: 100px;
  display: flex;
}

.slider-header_logo img {
  height: 40px;
  width: 40px;
}

.slider-header_textlog {
  align-self: center;
  font-size: 1.6em;
  color: white;
}

.slider-header_menu {
  display: flex;
  display: -webkit-flex;
  color: white;
  margin-top: 10px;
}

.slider-header_menu li {
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  align-self: center;
  font-size: 1.1em;
}

.slider-header_menu li:hover {
  color: #6f9295;
}

.slider-header_menu li:nth-child(9) {
  margin-left: 15px;
}

.slider-header-itemslog {
  display: flex;
  display: -webkit-flex;
}

.slider-info {
  padding-top: 230px;
}

.slider-info h3, .slider-info h4 {
  text-align: center;
  color: whitesmoke;
}

.slider-info h4 {
  font-family: 'Raleway Bold',sans-serif;
  font-size: 40px;
}

.slider-info span {
  display: flex;
  justify-content: center;
  color: whitesmoke;
}

.slider_button-start {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.slider_button-start input {
  border-radius: 5%;
  border: 0;
  background: #998675;
  color: white;
  width: 120px;
  height: 35px;
}
